/* line 9, ../sass/gameover.scss */
.gameover h1 {
  width: 400px;
  height: 340px;
  font-size: 0;
  text-indent: -9999;
}

/* Game Over Screen(s) */
/* line 18, ../sass/gameover.scss */
.gameover .container {
  width: 500px;
  margin: 0 auto;
  overflow: visible;
  position: relative;
  display: none;
}
/* line 25, ../sass/gameover.scss */
.gameover h1 {
  float: left;
  clear: none;
  margin-bottom: 20px;
}
@media only screen and (max-height: 800px) {
  /* line 25, ../sass/gameover.scss */
  .gameover h1 {
    float: none;
    width: 400px;
    margin: 0 auto;
  }
}
/* line 36, ../sass/gameover.scss */
.gameover .blackout h1 {
  background: transparent url(../images/Type_BlackOut.svg) no-repeat center center;
}
@media only screen and (max-height: 800px) {
  /* line 36, ../sass/gameover.scss */
  .gameover .blackout h1 {
    background-size: 50%;
    height: 250px;
  }
}
/* line 43, ../sass/gameover.scss */
.gameover .schwasted h1 {
  background: transparent url(../images/Type_Schwasted.svg) no-repeat center center;
  background-size: 90%;
}
@media only screen and (max-height: 800px) {
  /* line 43, ../sass/gameover.scss */
  .gameover .schwasted h1 {
    background-size: 50%;
    height: 250px;
  }
}
/* line 51, ../sass/gameover.scss */
.gameover .buzzed h1 {
  background: transparent url(../images/Type_Buzzed.svg) no-repeat center center;
}
@media only screen and (max-height: 800px) {
  /* line 51, ../sass/gameover.scss */
  .gameover .buzzed h1 {
    background-size: 50%;
    height: 250px;
  }
}
/* line 58, ../sass/gameover.scss */
.gameover .tipsy h1 {
  background: transparent url(../images/Type_Tipsy.svg) no-repeat center center;
  background-size: 100%;
}
@media only screen and (max-height: 800px) {
  /* line 58, ../sass/gameover.scss */
  .gameover .tipsy h1 {
    background-size: 50%;
    height: 250px;
  }
}
/* line 66, ../sass/gameover.scss */
.gameover .sober h1 {
  background: transparent url(../images/Type_Sober.svg) no-repeat center center;
  background-size: 95%;
}
@media only screen and (max-height: 800px) {
  /* line 66, ../sass/gameover.scss */
  .gameover .sober h1 {
    background-size: 50%;
    height: 250px;
  }
}
/* line 74, ../sass/gameover.scss */
.gameover a {
  display: block;
}
/* line 77, ../sass/gameover.scss */
.gameover .tweet {
  float: left;
  background: transparent url(../images/Button_Tweet.svg) no-repeat center center;
  width: 250px;
  height: 120px;
}
/* line 83, ../sass/gameover.scss */
.gameover .facebook {
  float: right;
  background: transparent url(../images/Button_Share.svg) no-repeat center center;
  width: 250px;
  height: 120px;
}
/* line 90, ../sass/gameover.scss */
.gameover .gameover-social-btn:hover, .gameover .gameover-option-btn:hover {
  -webkit-transform: translatex(-2px) translatey(2px);
  -moz-transform: translatex(-2px) translatey(2px);
  -ms-transform: translatex(-2px) translatey(2px);
  -o-transform: translatex(-2px) translatey(2px);
  transform: translatex(-2px) translatey(2px);
}
/* line 94, ../sass/gameover.scss */
.gameover .gameover-option-btn {
  width: 238px;
  height: 90px;
}
/* line 98, ../sass/gameover.scss */
.gameover .replay {
  float: left;
  background: transparent url(../images/Button_Replay.svg) no-repeat center center;
}
/* line 102, ../sass/gameover.scss */
.gameover .newchar {
  float: right;
  background: transparent url(../images/Button_CharacterSelect.svg) no-repeat center center;
}
/* line 107, ../sass/gameover.scss */
.gameover .glass {
  width: 60px;
  height: 340px;
  float: left;
  clear: none;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  margin-left: 20px;
}
@media only screen and (max-height: 800px) {
  /* line 107, ../sass/gameover.scss */
  .gameover .glass {
    display: none;
  }
}
/* line 117, ../sass/gameover.scss */
.gameover .glass.shitty {
  background: transparent url(../images/gameover-blackout.png) no-repeat center center;
}
/* line 122, ../sass/gameover.scss */
.gameover .burst {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 280px;
  left: 20px;
  background-position: center center;
  background-repeat: no-repeat;
}
@media only screen and (max-height: 800px) {
  /* line 122, ../sass/gameover.scss */
  .gameover .burst {
    display: none;
  }
}
/* line 133, ../sass/gameover.scss */
.gameover .burst.congrats {
  background-image: url(../images/Pin_Congrats.svg);
  background-size: 100%;
}
@media only screen and (max-height: 800px) {
  /* line 133, ../sass/gameover.scss */
  .gameover .burst.congrats {
    background-size: 75%;
  }
}
/* line 140, ../sass/gameover.scss */
.gameover .burst.superb {
  background-image: url(../images/Pin_Superb.svg);
  background-size: 100%;
}
@media only screen and (max-height: 800px) {
  /* line 140, ../sass/gameover.scss */
  .gameover .burst.superb {
    background-size: 75%;
  }
}
/* line 147, ../sass/gameover.scss */
.gameover .burst.nice {
  background-image: url(../images/Pin_Nice.svg);
  background-size: 100%;
}
@media only screen and (max-height: 800px) {
  /* line 147, ../sass/gameover.scss */
  .gameover .burst.nice {
    background-size: 75%;
  }
}
/* line 154, ../sass/gameover.scss */
.gameover .burst.ok {
  background-image: url(../images/Pin_Ok.svg);
  background-size: 100%;
}
@media only screen and (max-height: 800px) {
  /* line 154, ../sass/gameover.scss */
  .gameover .burst.ok {
    background-size: 75%;
  }
}
/* line 161, ../sass/gameover.scss */
.gameover .burst.dafuk {
  background-image: url(../images/Pin_Dafuk.svg);
  background-size: 100%;
}
@media only screen and (max-height: 800px) {
  /* line 161, ../sass/gameover.scss */
  .gameover .burst.dafuk {
    background-size: 75%;
  }
}
/* line 169, ../sass/gameover.scss */
.gameover .character {
  margin: 20px 0 50px;
  clear: both;
  overflow: hidden;
}
@media only screen and (max-height: 800px) {
  /* line 169, ../sass/gameover.scss */
  .gameover .character {
    margin-bottom: 30px;
  }
}
/* line 176, ../sass/gameover.scss */
.gameover .character .charwrap {
  width: 50%;
  float: left;
}

/* line 183, ../sass/gameover.scss */
.gameover .pic {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background: transparent no-repeat;
  display: block;
  clear: both;
}

/* line 192, ../sass/gameover.scss */
.gameover .pic.one {
  background-position: left top;
}

/* line 196, ../sass/gameover.scss */
.gameover .pic.two {
  background-position: left -600px;
}

/* line 200, ../sass/gameover.scss */
.gameover .pic.three {
  background-position: left -400px;
}

/* line 204, ../sass/gameover.scss */
.gameover .pic.four {
  background-position: left -200px;
}

/* line 208, ../sass/gameover.scss */
.gameover .pic.five {
  margin-top: -60px;
  background-position: left bottom;
}

/* line 213, ../sass/gameover.scss */
.gameover .time {
  width: 50%;
  margin-top: 20px;
  float: right;
  color: #FCF990;
  font-family: Futura, Arial, sans-serif;
  font-weight: normal;
}

/* line 222, ../sass/gameover.scss */
.gameover .time .clock {
  font-size: 99px;
  line-height: 1em;
}

/* line 227, ../sass/gameover.scss */
.gameover .time .minutes {
  font-size: 20px;
  text-transform: uppercase;
}
