@import 'compass';
@import 'modules/_type';

/*** header ***/
#meta-banner {
    text-shadow: 0 1px 0 rgba(0,0,0,0.15), 0 2px 1px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.07), 0 3px 6px rgba(0,0,0,0.07);
    color: #eee;
    background: #1a1a1a;
    padding: 0 2%;
    min-width: 960px;
    height: 64px;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    @include display-box;
    @include box-orient(horizontal);
    @include box-pack(center);
    @include box-align(center);
    > * {
        @include box-flex(1);
    }
    h1 {
        line-height: 0.25em;
        @include fontBold;
        font-size: 40px;
        text-align: left;
        em {
            font: normal 32.5%/.7 'Monstrrr-Serif', sans-serif;
            display: inline-block;
            border-radius: 4px;
            position: relative;
            top: -.65em;
            margin: 0 0 0 10px;
        }
    }
    .header-location-meta {
        font-size: 18px;
        padding: 0;
        margin: 0;
        @include fontSerif;
    }
    .social-cont {
        margin: 0 0 0 70px;
        > * {
            // float: left;
            width: 75px;
            margin: 0 10px;
            display: inline-block;
        }
        #volume-modal-toggle {
            display: none;
            .game & {
                display: inline-block;
            }
            background: image-url('icon-volume.png') no-repeat -5px -6px;
            height: 25px;
            width: 27px;
            margin-right: 0;
            position: absolute;
        }
    }
    .header-logos {
        margin: 0;
        padding: 0;
        text-align: right;
        li {
            display: inline-block;
            margin: 0 10px 0 0;
            &:last-child {
                display: inline-block;
                margin: 0;
            }
        }
    }
    li {
        display:inline;
        list-style:none;
        &:first-child {
            padding-left:0;
        }
        &:last-child {
            padding-right:0;
            border:0;
        }
    }
}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
