
/* Game Over Screen(s) */
.gameover .container {width: 500px; margin: 0 auto; overflow: visible; position: relative; display:none;}
.gameover h1 {float: left; clear: none; margin-bottom: 20px;}
.gameover .blackout h1 {background: transparent url(../images/Type_BlackOut.svg) no-repeat center center; width: 400px; height: 340px; font-size: 0; text-indent: -9999;}
.gameover .schwasted h1 {background: transparent url(../images/Type_Schwasted.svg) no-repeat center center; width: 400px; height: 340px; font-size: 0; text-indent: -9999; background-size: 90%;}
.gameover .buzzed h1 {background: transparent url(../images/Type_Buzzed.svg) no-repeat center center; width: 400px; height: 340px; font-size: 0; text-indent: -9999;}
.gameover .tipsy h1 {background: transparent url(../images/Type_Tipsy.svg) no-repeat center center; width: 400px; height: 340px; font-size: 0; text-indent: -9999; background-size: 100%;}
.gameover .sober h1 {background: transparent url(../images/Type_Sober.svg) no-repeat center center; width: 400px; height: 340px; font-size: 0; text-indent: -9999; background-size: 95%;} 
.gameover a {display: block;}
.gameover .tweet {float: left; background: transparent url(../images/Button_Tweet.svg) no-repeat center center; width: 250px; height: 120px;}
.gameover .facebook {float: right; background: transparent url(../images/Button_Share.svg) no-repeat center center; width: 250px; height: 120px;}
.gameover .replay {float: left; background: transparent url(../images/Button_Replay.svg) no-repeat center center; width: 238px; height: 90px;}
.gameover .newchar {float: right; background: transparent url(../images/Button_CharacterSelect.svg) no-repeat center center; width: 238px; height: 90px;}

.gameover .glass {width: 60px; height: 340px; float: left; clear: none; -webkit-transform:rotate(-7deg); -moz-transform:rotate(-7deg); -o-transform:rotate(-7deg); -ms-transform:rotate(-7deg); transform:rotate(-7deg); margin-left: 20px;}
.gameover .glass.shitty {background: transparent url(../images/gameover-blackout.png) no-repeat center center;}

.gameover .burst {width: 100px; height: 100px; position: absolute; top: 280px; left: 20px; }
.gameover .burst.congrats {background: transparent url(../images/Pin_Congrats.svg) no-repeat center center;background-size: 100%;}
.gameover .burst.superb {background: transparent url(../images/Pin_Superb.svg) no-repeat center center;background-size: 100%;}
.gameover .burst.nice {background: transparent url(../images/Pin_Nice.svg) no-repeat center center;background-size: 100%;}
.gameover .burst.ok {background: transparent url(../images/Pin_Ok.svg) no-repeat center center;background-size: 100%;}
.gameover .burst.dafuk {background: transparent url(../images/Pin_Dafuk.svg) no-repeat center center;background-size: 100%;}

.gameover .character {
  margin: 20px 0 50px;
  clear: both;
  overflow: hidden;
}

.gameover .character .charwrap {
  width: 50%;
  float: left;
}

.gameover .pic {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background: transparent no-repeat;
  display: block;
  clear: both;
}

.gameover .pic.one {
  background-position: left top;
}

.gameover .pic.two {
  background-position: left -600px;
}

.gameover .pic.three {
  background-position: left -400px;
}

.gameover .pic.four {
  background-position: left -200px;
}

.gameover .pic.five {
  margin-top: -60px;
  background-position: left bottom;
}

.gameover .time {
  width: 50%;
  margin-top: 20px;
  float: right;
  color: #FCF990;
  font-family: Futura, Arial, sans-serif;
  font-weight: normal;
}

.gameover .time .clock {
  font-size: 99px;
  line-height: 1em;
}

.gameover .time .minutes {
  font-size: 20px;
  text-transform: uppercase;
}
