@import 'compass';

/* ==|== non-semantic helper classes ======================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  line-height: 0;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.required {
  color: red;
}

.floatl {
  float: left;
  margin: 0;
  padding: 0 10px 10px 0;
}

.floatr {
  float: right;
  margin: 0;
  padding: 0 0 10px 10px;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

::-moz-selection {
  background: #1fb9e7;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #1fb9e7;
  color: #fff;
  text-shadow: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body.home {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #10193d), color-stop(100%, #313976));
  background: -webkit-linear-gradient(top, #10193d, #313976);
  background: -moz-linear-gradient(top, #10193d, #313976);
  background: -o-linear-gradient(top, #10193d, #313976);
  background: linear-gradient(top, #10193d, #313976);
  color: #FFF;
  font-family: "Monstrrr-Serif";
  min-width: 960px;
}

.logo {
  height: 120px;
  width: 128px;
  position: absolute;
  bottom: -12px;
  left: 0;
  background: rgba(0, 255, 0, 0.2);
  text-indent: -9999px;
}

// .twitter-share-button {
//   float: right;
//   position: relative;
//   top: 1em;
// }

h2 {
  font-size: 350%;
  font-weight: normal;
  text-align: center;
}

nav {
  height: 50%;
  position: relative;
  margin: 0 auto;
  padding: 0;
  z-index: 8888;
  width: 1000px;
}

.char {
  width: 200px;
  height: 220px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  display: block;
  float: left;
  clear: none;
}

@-webkit-keyframes play {
   from { background-position:   1%; }
     to { background-position:  38%; }
}

@-moz-keyframes play {
   from { background-position:   1%; }
     to { background-position:  38%; }
}

@-ms-keyframes play {
   from { background-position:   1%; }
     to { background-position:  38%; }
}

@-o-keyframes play {
   from { background-position:   1%; }
     to { background-position:  38%; }
}

@keyframes play {
   from { background-position :  1%; }
     to { background-position:  38%; }
}

#char1 {
    background-image: url(../images/char1.png);
}

#char2 {
    background-image: url(../images/char2.png);
}

#char3 {
    background-image: url(../images/char3.png);
}

#char4 {
    background-image: url(../images/char4.png);
}

#char5 {
    background-image: url(../images/char5.png);
}

.char:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #001134), color-stop(50%, #001134), color-stop(100%, rgba(0, 17, 52, 0)));
  background: -webkit-linear-gradient(top, #001134 0%, #001134 50%, rgba(0, 17, 52, 0) 100%);
  background: -moz-linear-gradient(top, #001134 0%, #001134 50%, rgba(0, 17, 52, 0) 100%);
  background: -o-linear-gradient(top, #001134 0%, #001134 50%, rgba(0, 17, 52, 0) 100%);
  background: linear-gradient(top, #001134 0%, #001134 50%, rgba(0, 17, 52, 0) 100%);
}

.char div {
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  width: 80%;
  height: 90%;
  margin: 0 auto;
  background-position: 1%;
}

.char:hover div:before, .controls + div:before {
  content: '';
  position: absolute;
  bottom: 14px;
  left: 30px;
  width: 100px;
  height: 8px;
  background: transparent;
  border-radius: 100px/5px;
  box-shadow: 0 25px 25px #000000;
}

.char:hover div {
  -webkit-filter: grayscale(0%);
  -webkit-animation: play .6s steps(3,start) infinite;
  -moz-animation: play .6s steps(3,start) infinite;
  -ms-animation: play .6s steps(3,start) infinite;
  -o-animation: play .6s steps(3,start) infinite;
  animation: play .6s steps(3,start) infinite;
}

.home form {
  margin-bottom: 3em;
  text-align: center;
}

.home input[type=text] {
  background-color: #223359;
  border: 0 none;
  color: #FFF;
  font-family: "Monstrrr-Serif";
  font-size: 24px;
  padding: 10px 15px 5px;
  text-shadow: -1px 1px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.home input[type=text]:focus {
  outline: none;
}

.home input[type=submit] {
    font-family: "Monstrrr-Serif";
    font-size: 24px;
    padding: 5px;
    color: #FFF;
    background-color: #6BAA36;
    border: 0 none;
    text-shadow: -1px 1px black;
    @include border-radius(5px);
}

.splash {
    height: 100%;
    background: url(../images/bg-city.jpg) no-repeat center center fixed;
    @include background-size(cover);
    @include box-shadow(0 0 100px 0 black inset);
}

.container {
    position: relative;
    margin: 0 auto;
    min-height: 532px;
    overflow: hidden;
    height: 100%;
}

.home .container {
    background: url(../images/burst-gradient.svg) no-repeat center center;
    @include background-size(cover);
}

.splashbg {
    width: 818px;
    height: 468px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    z-index: 8;
}

.splash img {
    max-width: 100%;
}

@-webkit-keyframes in1 {
  0% {
    -webkit-transform: translate(0, -1000%);
  }

  100% {
    -webkit-transform: translate(0, 0);
  }
}

.splash .title {
    width: 83.6%;
    height: 31.2%;
    left: 11%;
    top: 1.5%;
    position: absolute;
    background: url(../images/beercamp.svg) no-repeat left top;
    -webkit-filter: drop-shadow(-8px 8px 0 rgba(0, 0, 0, 0.5));
    @include background-size(100%);
    margin: 0;
    z-index: 9999;
    -webkit-animation: in1 1s ease-out;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes in2 {
  0% {
    -webkit-transform: translate(0, 300%);
  }

  100% {
    -webkit-transform: translate(0, 0);
  }
}

%button-active-state {
    @include box-shadow(0 0 10px 0 black inset);
}

.splash .btn-start {
    width: 38.8%;
    height: 16.7%;
    position: absolute;
    left: 33.5%;
    top: 70.1%;
    z-index: 500;
    background: url(../images/btn-start.svg) no-repeat center center;
    @include filter(drop-shadow(-8px 8px 0 rgba(0, 0, 0, 0.5)));
    @include background-size(100%);
    -webkit-animation: in2 2s ease-out;
    -webkit-animation-iteration-count: 1;
    cursor: pointer;
    &:active {
        -webkit-filter: none;
        height: 15.8%;
        margin: 5px 0 0 -5px;
        @include background-size(102%);
        @extend %button-active-state;
    }
}

@-webkit-keyframes canFly {
  0% {
    -webkit-transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(400%, -40%);
  }
}

#splashcan {
  left: 55%;
  top: 40%;
  -webkit-animation: canFly 4s linear;
  -webkit-animation-iteration-count: infinite;
  position: absolute;
  z-index: 90;
  width: 15%;
  height: 15%;
  display: block;
}

.coverup {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.controls {
  background-color: #21496c;
  border-radius: 10px;
  padding: 20px;
  float: left;
}
.controls ul {
  margin: 0;
  padding: 0 20px 0 0;
  list-style: none;
  float: left;
  clear: none;
}
.controls ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  clear: both;
  display: block;
  line-height: 28px;
}
.controls ul li + li {
  margin-top: 10px;
}

.controls ul li .col span {
  display: inline-block;
  border-radius: 5px;
  padding: 7px 6px 1px 7px;
  background-color: #0c1b44;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 10px;
}

.controls ul li span.space {
  padding: 5px 20px;
}

.controls p {
  float: left;
  clear: none;
  margin: 0 0 0 20px;
  padding: 0;
  text-align: center;
}

.controls + .charfloat {
  float: right;
  position: relative;
  width: 140px;
  clear: right;
}

.controls + .charfloat img {
  -webkit-filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.5));
}

.charfloat + div {
  width: 200px;
  margin: 0 auto;
}

.instructions {
  width: 450px;
  margin: 0px auto;
}

.instructions a {
  color: #fff;
}

.instructions a.btn-start {
    border: 2px solid #fff;
    padding: 10px 9px 5px 36px;
    text-decoration: none;
    background: #83b557 url(../images/btn-arrow.png) no-repeat 10px center;
    font-size: 120%;
    position: relative;
    display: inline-block;
    margin-top: 25px;
    @include box-shadow(-5px 5px 0 0 rgba(0, 0, 0, 0.5));
    &:active {
        @extend %button-active-state;
        border: none;
    }
}
