[submodule "game/lib/underscore"]
	path = game/lib/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "game/lib/stats"]
	path = game/lib/stats
	url = git://github.com/mrdoob/stats.js.git
[submodule "game/lib/rAF"]
	path = game/lib/rAF
	url = git://gist.github.com/1579671.git
