[submodule "game/lib/underscore"]
	path = game/lib/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "game/lib/stats"]
	path = game/lib/stats
	url = git://github.com/mrdoob/stats.js.git
[submodule "game/lib/rAF"]
	path = game/lib/rAF
	url = https://gist.github.com/paulirish/1579671
[submodule "game/lib/almond"]
	path = game/lib/almond
	url = git://github.com/jrburke/almond.git
