@import "compass";
@import "modules/_tools.scss";

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    &.home {
        @include background(linear-gradient(top, #10193d, #313976));
        color: #FFF;
        font-family: "Monstrrr-Serif";
        min-width: 960px;
    }
}

.logo {
    height:120px;
    width:128px;
    position:absolute;
    bottom:-12px;
    left:0;
    background:rgba(0,255,0,0.2);
    text-indent:-9999px;
}

.twitter-share-button {
    float:right;
    position:relative;
    top:1em;
}

h2 {
    font-size: 350%;
    font-weight: normal;
    text-align: center;
}

nav {
    height: 50%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    z-index: 8888;
    width: 1000px;
}

.char {
    width: 200px;
    height: 240px;
    @include border-radius(6px);
    overflow: hidden;
    padding-top: 2.5%;
    cursor: pointer;
    display: block;
    float: left;
    clear: none;
}

@-webkit-keyframes play {
   from { background-position:    4%; }
     to { background-position: -92%; }
}

@-moz-keyframes play {
   from { background-position:    0; }
     to { background-position: -86%; }
}

@-ms-keyframes play {
   from { background-position:    0; }
     to { background-position: -86%; }
}

@-o-keyframes play {
   from { background-position:    0; }
     to { background-position: -86%; }
}

@keyframes play {
   from { background-position:    4%; }
     to { background-position: -86%; }
}

#char1 {
    background-image: url(../images/char1.svg);
}

#char2 {
    background-image: url(../images/char2.svg);
}
#char3 {
    background-image: url(../images/char3.svg);
}
#char4 {
    background-image: url(../images/char4.svg);
}
#char5 {
    background-image: url(../images/char5.svg);
}

.char {
    &:hover {
        @include background(linear-gradient(top,  rgba(0,17,52,1) 0%, rgba(0,17,52,1) 50%, rgba(0,17,52,0) 100%));
    }
    div {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        filter: gray;
        -webkit-filter: grayscale(100%);
        width: 80%;
        height: 90%;
        margin: 0 auto;
        clear: none;
        background-size: cover;
        position: relative;
        background-position: 4%;
    }
}

.char:hover div:before, .controls + div:before {
    content:'';
    position: absolute;
    bottom: 14px;
    left:30px;
    width: 100px;
    height: 8px;
    background: transparent;
    border-radius: 100px / 5px;
    box-shadow: 0 25px 25px #000000;
}

.char:hover div {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    -webkit-animation: play .8s steps(4,start) infinite;
    -moz-animation: play .8s steps(4,start) infinite;
    -ms-animation: play .8s steps(4,start) infinite;
    -o-animation: play .8s steps(4,start) infinite;
    animation: play .8s steps(4,start) infinite;
}

.home form {
    text-align: center;
}

.home input[type=text] {
    background-color: #223359;
    border: 0 none;
    color: #FFF;
    font-family: "Monstrrr-Serif";
    font-size: 24px;
    padding: 5px;
    text-shadow: -1px 1px #000;
    @include border-radius(5px);
}

.home input[type=text]:focus {
    outline: none;
}

.home input[type=submit] {
    font-family: "Monstrrr-Serif";
    font-size: 24px;
    padding: 5px;
    color: #FFF;
    background-color: #6BAA36;
    border: 0 none;
    text-shadow: -1px 1px #000;
    @include border-radius(5px);
}


.splash {
    height: 100%;
    background: url(../images/bg-city.jpg) no-repeat center center fixed;
    @include background-size(100%);
    @include box-shadow(0 0 100px 0 #000 inset);
}

.container {
    position: relative;
    margin: 0 auto;
    min-height: 532px;
    overflow: hidden;
    height: 100%;
}

.home .container {
    background: url(../images/burst-gradient.svg) no-repeat center center;
    @include background-size(cover);
}

.splashbg {
    width: 818px;
    height: 468px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    z-index: 8888;
}

.splash img {
    max-width: 100%;
}

@-webkit-keyframes in1 {
    0% { -webkit-transform: translate( 0, -1000% ); }
    100% { -webkit-transform: translate( 0, 0 ); }
}

.splash .title {
    width: 83.6%;
    height: 31.2%;
    left: 11%;
    top: 1.5%;
    position: absolute;
    background: url(../images/beercamp.svg) no-repeat left top;
    -webkit-filter:drop-shadow(-8px 8px 0 rgba(0,0,0,0.5));
    @include background-size(100%);
    margin: 0;
    z-index: 9999;
    -webkit-animation: in1 1s ease-out;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes in2 {
    0% { -webkit-transform: translate( 0, 300% ); }
    100% { -webkit-transform: translate( 0, 0 ); }
}

.splash {
    .btn-start {
        width: 38.8%;
        height: 16.7%;
        position: absolute;
        left: 33.5%;
        top: 70.1%;
        background: url(../images/btn-start.svg) no-repeat center center ;
        -webkit-filter:drop-shadow(-8px 8px 0 rgba(0,0,0,0.5));
        @include background-size(100%);
        z-index: 9999;
        -webkit-animation: in2 3s ease-out;
        -webkit-animation-iteration-count: 1;
        cursor: pointer;
    }
}

.splash .btn-start:active {
    -webkit-filter:none;
    width: 38.3%;
    height: 15.8%;
    left: 34%;
    top: 71%;
    @include box-shadow(0 0 10px 0 #000 inset);
    @include background-size(102%);
}

@-webkit-keyframes canFly {
    0% { -webkit-transform: translate( 0, 0 ); }
    100% { -webkit-transform: translate( 400%, -40% ); }
}

#splashcan {
    left: 55%;
    top: 40%;
    -webkit-animation: canFly 4s linear;
    -webkit-animation-iteration-count: infinite;
    position: absolute;
    z-index: 90;
    width: 15%;
    height: 15%;
    display: block;
}

.coverup {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 8001;
}

.controls {
  background-color: #21496c;
  border-radius: 10px;
  padding: 20px;
  float: left;
  ul {
    margin: 0;
    padding: 0 20px 0 0;
    list-style: none;
    // border-right: 1px solid #4f6e8b;
    float: left;
    clear: none;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      float: left;
      clear: both;
      display: block;
      line-height: 28px;
      + li {
        margin-top: 10px;
      }
      span {
        display: inline-block;
        border-radius: 5px;
        padding: 5px;
        background-color: #0c1b44;
        min-width: 20px;
        min-height: 20px;
        text-align: center;
        line-height: 20px;
        margin-right: 10px;
        &.space {
          padding: 5px 20px;
        }
      }
    }
  }
  p {
    float: left;
    clear: none;
    margin: 0 0 0 20px;
    padding: 0;
    text-align: center;
  }
  + .charfloat {
    float: right;
    position: relative;
    width: 140px;
    clear: right;
    img {
      -webkit-filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.5));
      // margin-top: 20px;
    }
  }
}

.charfloat + div {width: 188px; margin: 0 auto;}

.instructions {
    width: 450px;
    margin: 0px auto;
    a {
        color: #fff;
        &.btn-start {
            border: 2px solid #fff;
            text-decoration: none;
            margin-top: 30px;
            padding: 5px 10px 0 36px;
            line-height: 180%;
            float: left;
            clear: both;
            display: block;
            background: #83b557 url(../images/btn-arrow.png) no-repeat 10px center;
            text-align: center;
            font-size: 120%;
            position: relative;
            @include box-shadow(-5px 5px 0 0 rgba(0,0,0,.5));
            &:active {
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                margin-left: -5px;
                margin-top: 25px;
            }
        }
    }
}