    <header class="cf clearfix" role="banner">
        <h1>BEeRCAMP<em>SxSW</em></h1>
        <ul class="header-location-meta">
            <li>March 9, 2013 @ 11:00pm - Iron Cactus, Austin TX</li>
        </ul>
        <ul class="header-logos">
            <li>
                <a href="http://www.bpong.com/" target="_blank">
                    <img src="images/logo-bpong.png" style="margin-top: 8px;">
                </a>
            </li>
            <li>
                <a href="http://tech.co/" target="_blank">
                    <img src="images/logo-techcocktail.png">
                </a>
            </li>
            <li>
                <a href="http://taximagic.com/" target="_blank">
                    <img src="images/logo-taximagic.png">
                </a>
            </li>
            <li>
                <a href="http://nclud.com/" target="_blank">
                    <img alt="nclud logo" src="images/logo-nclud.png">
                </a>
            </li>
        </ul>
    </header>
