    <meta name="description" property="og:description" content="Can you black out in 3 minutes? Put yourself to the test & knock your friends out of the running in the real-time multi-player Beercamp Simulator!">

    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- build:css css/beercamp.css -->
    <link href="../css/banner.css" type="text/css" rel="stylesheet"/>
    <link href="../css/starting-ui.css" type="text/css" rel="stylesheet"/>
    <link href="../css/game-ui.css" type="text/css" rel="stylesheet"/>
    <link href="../css/screen.css" type="text/css" rel="stylesheet"/>
    <link href="../css/gameover.css" type="text/css" rel="stylesheet"/>
    <!-- endbuild -->
