@font-face {
    font-family: 'Monstrrr-Bold';
    src: url('monstrrrbold-regular-webfont.eot');
    src: url('monstrrrbold-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('monstrrrbold-regular-webfont.woff') format('woff'),
    url('monstrrrbold-regular-webfont.ttf') format('truetype'),
    url('monstrrrbold-regular-webfont.svg#MonstrrrBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monstrrr-Serif';
    src: url('monstrrrserif-regular-webfont.eot');
    src: url('monstrrrserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('monstrrrserif-regular-webfont.woff') format('woff'),
    url('monstrrrserif-regular-webfont.ttf') format('truetype'),
    url('monstrrrserif-regular-webfont.svg#MonstrrrSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*** header ***/
header {
    text-shadow:0 1px 0 rgba(0,0,0,0.15), 0 2px 1px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.07), 0 3px 6px rgba(0,0,0,0.07);
    z-index:10;
    color:#eee;
    width: 96%;
    background:#1a1a1a;
    padding: 0 2%;
    min-width: 960px;
    height: 64px;
    position: absolute;
    bottom: 0;
    z-index: 9999;
}
header.cf {width: 100%;}
header h1 {
    /*position:absolute;
     bottom:-70px;
     left:0;
     text-align:center;
     width:100%;
     z-index:3;*/
    line-height:1;
    font-family:'Monstrrr-Bold', 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size:250%;
    /*width:7.75em;
    margin:0;
    float:left;*/
    position:absolute;
    left:.5em;
    top:-.35em;
}
h1 em {
    font:normal 32.5%/.7 'Monstrrr-Serif', sans-serif;
    /*border:1px solid rgba(255,255,255,0.15);
    padding:.5em .5em .25em;
    background:rgba(0,0,0,0.35);*/
    display:inline-block;
    border-radius:4px;
    position:relative;
    top:-.65em;
    left:-.25em;
}
h1 em:before {
    content:"/";
    display:block;
    position:absolute;
    left:-.5em;
    top:0;
}
header ul {
    /*float:right;
    margin:0 auto;
    width:100%;
    text-align:center;
    padding:1.45em 0 0 4em;
    font:normal 115%/1 'Monstrrr-Serif', sans-serif;*/
    margin: 0;
	text-align: center;
	padding: 0;
	font: normal 115%/1 'Monstrrr-Serif', sans-serif;
	top: 1.4em;
	position: absolute;
	left: 30%;
}
header li {
    display:inline;
    list-style:none;
    padding:0 1em 0;
    /*border-right:1px solid rgba(255,255,255,0.25);*/
}
header li:first-child {
    padding-left:0;
}
header li:last-child {
    padding-right:0;
    border:0;
}
header img {
    float:right;
    position:relative;
    top:.75em;
    margin:0 0 0 1em;
}

/* header things */

@media screen and (max-width: 1120px){

	header h1{
		font-size:230%;
	}

	header ul{
		font: normal 105%/1 'Monstrrr-Serif', sans-serif;
		top: 1.5em;
	}
}

@media screen and (max-width: 1050px){
	header img{
		width:8%;
		margin: 0 0 0 .5em;
	}

	header img[alt^="nclud"]{
		width: 2.5%;
	}

}
