html, body {
  height: 100%;
  overflow: hidden;
  position: relative;
}

html, body, #main  {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-transition: top 0.1s ease;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

body.game {
    background-image: url('../images/background.jpg');
    background-size: cover;
}

a {
	color: #66cccc;
}

#main:after {
	background: rgba(255, 255, 255, 0.18);
	content: '';
	display: block;
	height: 550px;
	left: -150px;
	position: absolute;
	top: -400px;
	width: 900px;
	z-index: 2;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

canvas {
  position: absolute;
  top: 0;
  left: 120px;

}

#Background {
  z-index: 1;
}

#Platform {
  z-index: 2;
}

#Player {
  z-index: 5;
}

#stats {
  position: absolute;
  top: 0;
  left: 0;
}
