@font-face {
    font-family: 'Monstrrr-Bold';
    src: url('../font/monstrrrbold-regular-webfont.eot');
    src: url('../font/monstrrrbold-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/monstrrrbold-regular-webfont.woff') format('woff'),
    url('../font/monstrrrbold-regular-webfont.ttf') format('truetype'),
    url('../font/monstrrrbold-regular-webfont.svg#MonstrrrBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monstrrr-Serif';
    src: url('../font/monstrrrserif-regular-webfont.eot');
    src: url('../font/monstrrrserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/monstrrrserif-regular-webfont.woff') format('woff'),
    url('../font/monstrrrserif-regular-webfont.ttf') format('truetype'),
    url('../font/monstrrrserif-regular-webfont.svg#MonstrrrSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin fontBold() {
    font-family: 'Monstrrr-Bold', 'lucida grande', sans-serif;
}

@mixin fontSerif() {
    font-family: 'Monstrrr-Serif', sans-serif;
}
